nav, section, aside {
    display: block;
}

body {
    font-family: "Trebuchet MS", arial, sans-serif;
    background-color: #F2F2F2;
    color: #696969;
}

#wrap {
    max-width: 100%;
    margin: auto;
}

h1 {
    color: #999;
    text-align: center;
    font-size: 36px;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 13px;
}

nav {
    background-color: #fff;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    list-style: none;
    padding: 15px 0;
}

nav ul li a {
    color: #696969;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

section {
    background-color: #fff;
    border: 1px solid #969696;
    padding: 20px;
    margin: 20px 0;
}

section img {
    width: 100%;
}

@media screen and (min-width: 480px) {
    #wrap {
        max-width: 900px;
    }

    h1 {
        font-size: 42px;
    }

    nav ul li {
        display: inline;
        padding: 0 2px;
    }

    section {
        width: 27%;
        float: left;
        margin-right: 2.4%;
    }

    .lastchild {
        margin-right: 0px;
    }

    section img {
    width: 60%;
    }

    section .imghome {
        width: 75%;
    }
}
